.grey-bg {
    background-color: #f1f1f1 !important;
}

.circle {
    background: #ED3F3E;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-right: 3px;
    display: inline-block;
}

.custom-image-card {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top {
    margin-top: -50px;
}

/* Featured Box Fixes */
.featured_spaces .swiper-button::after {
    display: none;
}

.featured_spaces .swiper-button-prev, .featured_spaces .swiper-button-next, .swiper-button {
    background-color: white;
    color: #830900;
    background-image: none;
    height: 60px;
    display: flex;
    z-index: 9999999;
    align-items: center;
    justify-content: center;
    width: 60px;
    border-radius: 50%;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.15));
}

.featured_spaces .swiper-button-next {
    z-index: 500;
    right: -50px;
}

.featured-card {
    height: 510px;
    background-color: transparent !important;
    padding: 1rem 1rem 0 1rem;
}

.featured-card.card{
    box-shadow: none !important;
    transition: all .4s ease;
}

.featured-card .card-body {
    max-height: 350px;
    padding: 1rem;
    border-radius: 20px 20px 0px 0px;
    margin-top: auto;
    z-index: 10000;
    color: #444444;
    overflow: hidden;
    position: relative;
}

.featured-card p {
    font-size: 14px;
}

.rating-text{
    position: absolute;
    float: right;
    right: 5%;
    padding-top: 5px;
}

.featured-card:hover p,
.featured-card:hover .feather{
    color: #222 !important;
}

.featured-card:hover{
    box-shadow: 0 0 3.25rem rgb(31 45 61 / 15%) !important;
    transform: scale(1.05);
}

/* Utility classes */
.tx-14 {
    font-size: 14px;
}

.tx-12 {
    font-size: 12px;
}

.text-color {
    color: #444444 !important;
}
.header-color {
    color: #222222 !important;
}

.mt_large {
    margin-top: 10rem;
}
.career__header {
    max-width: 450px;
    line-height: 1.5;
    margin:1rem auto 3rem;

}

.career__header h1 {
    line-height: 1.3;
    font-size: 48px;
    margin-bottom: 1rem;
}
.career__cards .card{
    min-height: 340px;
    text-align: center;
}
.career__cards .card__illus{
    height: 90px;
    width: 85px;
    margin: 1rem auto;
    object-fit: cover;
    
}
/* // workaround */
.iti {
    width: 100%;
}
.intl-tel-input {
    display: table-cell;
}

.intl-tel-input .selected-flag {
    z-index: 4;
}

.intl-tel-input .country-list {
    z-index: 5;
}

.input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
}



.iti__flag {
    background-image: url("../../assets/libs/intl-tel-input-17.0.0/build/img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("../../assets/libs/intl-tel-input-17.0.0/build/img/flags@2x.png");
    }
}


.space-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Add shadow to image on: /page/host-how-it-works */
.billboard-image img {
    filter: drop-shadow(0px 100px 100px rgba(0, 0, 0, 0.15));
}

.form-wrapper {
    width: 100%;
    max-width: 450px;
    margin-top: 10rem;
}

/* Change the chrome default styling on autofill input to any color ;) */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    /* -webkit-box-shadow: 0 0 0 30px white inset !important; */
}

/* input with toggle Buttons */
input {
    position: relative;
}
.togglePassword {
    position: absolute;
    right: 10px;
    z-index: 10;
    top: 20px;
}

/* Back To top Button */
#button {
    display: inline-block;
    background: #830900;
    width: 55px;
    height: 55px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 35px;
    right: 100px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    box-shadow: 0 2px 6px rgba(241, 208, 208, 0.1);
}

#button:hover {
    cursor: pointer;
    background: #ED3F3E;
}

#button:active {
    background: #ED3F3E;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 575px) {
    #button {
        display: none;
    }
}

.space-slider img {
    max-height: 80vh;
    min-height: 500px;
    object-fit: cover;
}

.swiper-container{
    overflow: unset !important;
}