.word {
	font-size: 1.0rem
}

.basic ul {
	display: flex;
	justify-content: space-between;
}

.basic h5 {
	text-align: left;
	font-size: 14px;
	margin: 0;
	color: #850901;
}

.basic p {
	font-size: 12px;
	margin-bottom: 0;
}

.space-rating {
	background-color: #850901;
	font-size: 12px;
	color: #fff;
	padding: 3px 7px;
	border-radius: 4px;
}

.space-rating i {
	color: #FFD600;
}

.user-count {
	border: 1px solid #000;
	padding: 2px 6px;
	border-radius: 4px;
	font-size: 12px;
}

.save-unsave {
	background-color: #850901;
	padding: 3px;
	border-radius: 50em;
	height: 30px;
	width: 30px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}

.status {
	border: 1px solid #000;
	border-radius: 4px;
	padding: 2px 8px;
	font-size: 12px;
	float: left;
}

.status i {
	color: #57C862;
}

.damier-size {
	font-size: 12px;
	padding: 4px;
}

ul {
	padding-left: 0px;
	list-style: none;
}

.btn-small {
	padding: 5px 10px;
	/*height: 30px;*/
	font-size: 12px;
}

.btn-outline {
	float: right;
	font-size: 12px;
	/* padding-left: 5px; */
	padding: 4px;
	background: #fff;
	border-radius: 4px;
	border-color: #850901;
	color: #850901;
}

.btn-fill {
	float: left;
	font-size: 12px;
	padding: 4px;
	background: #850901;
	border-radius: 4px;
	border-color: #850901;
	color: #fff;
}

.extend {
	display: flex;
	justify-content: space-between;
}

/*Become-a-host*/

.sub {
	font-size: 14px;
	width: 118px;
	height: 118px;
	border-radius: 50%;
	border: 5px solid #830900;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.sales ul {
	display: flex;
	justify-content: space-around;
	margin-bottom: 0;
}

.sales ul li p {
	font-size: 14px;
	margin: 0;
}

.place {
	background: #e6cecc;
	border-radius: 2px;
	padding: 2px 8px;
	color: #444;
	font-weight: 600;
}

#timeline-step {
	position: absolute;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	left: 0;
	width: 33px;
	height: 33px;
	background: #fff;
	text-align: center;
	font-size: 1rem;
	font-weight: 600;
	z-index: 1
}

.nav-application .active {
	background-color: #fff;
	color: #850901;
	border-radius: 50em;
	-webkit-box-shadow: 0 1rem 3rem rgba(31, 45, 61, .125)!important;
	box-shadow: 0 1rem 3rem rgba(31, 45, 61, .125)!important;
}

.thicker-grey-bg {
	background-color: #dfdfdf;
}

.space-tabs .nav-pills .nav-link {
	background-color: rgba(133, 9, 1, 0.15);
	padding: 15px;
	margin-bottom: 5px;
	color: #444;
}

.space-tabs .nav-pills .nav-link.active {
	background-color: var(--primary2);
}
.space-tabs .nav-pills .nav-link:hover {
	background-color: var(--primary);
	color: white;
}

.single-space-amenities li {
	/* border-bottom: 1px solid #eee; */
	padding: 10px 0px;
}

.single-space-amenities li:first-child {
	/* border-top: 1px solid #eee; */
}

.check-into-hold {
	background-color: #f1f1f1;
	border-radius: 10px;
	overflow: hidden;
}

.check-into-hold .img-space-thumb {
	overflow: hidden;
	position: relative;
	height: 150px;
}

.check-into-hold .img-space-thumb img {
	width: 200%;
}

.check-into-hold .space-det {
	padding: 20px 20px 0px;
	text-align: left;
	color: #444;
}

.check-into-hold .space-det .space-name {
	font-weight: 600;
}

.star {
	opacity: 0.5;
}

.team {
	margin-bottom: -24px;
}

.scroll-top {
	position: fixed;
	right: 30px;
	bottom: -60px;
	z-index: 999;
	display: grid;
	place-items: center;
	-webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, .03);
	box-shadow: 0 30px 50px rgba(0, 0, 0, .03);
	display: block;
	padding: 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
	font-size: 25px;
	line-height: 60px;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	background-color: #a51d2f;
	background-size: 200% auto;
	background-position: left center;
	color: #fff;
	-webkit-transition: all .25s cubic-bezier(.645, .045, .355, 1);
	-o-transition: all .25s cubic-bezier(.645, .045, .355, 1);
	transition: all .25s cubic-bezier(.645, .045, .355, 1);
	overflow: hidden
}

@media only screen and (max-width:479px) {
	.scroll-top {
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 20px
	}
}

.scroll-top.show {
	visibility: visible;
	opacity: 1;
	bottom: 60px
}

.scroll-top i {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	-webkit-transition: all .25s cubic-bezier(.645, .045, .355, 1);
	-o-transition: all .25s cubic-bezier(.645, .045, .355, 1);
	transition: all .25s cubic-bezier(.645, .045, .355, 1)
}

.scroll-top .arrow-top {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.scroll-top .arrow-bottom {
	-webkit-transform: translate(-50%, 80px);
	-ms-transform: translate(-50%, 80px);
	transform: translate(-50%, 80px)
}

.scroll-top:hover {
	background-position: right center
}

.scroll-top:hover .arrow-top {
	-webkit-transform: translate(-50%, -80px);
	-ms-transform: translate(-50%, -80px);
	transform: translate(-50%, -80px)
}

.scroll-top:hover .arrow-bottom {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}